{:deps {:aliases [:cljs]}
 :builds
 {:app
  {:target :esm
   :output-dir "build"
   :modules {:worker {:exports {default app-kotoba-cloud.worker/app}}}
   :compiler-options {:output-feature-set :es2020
                      :infer-externs :auto}}}}

