[:person/id :db/unique :db.unique/identity]
[:person/id :db/valueType :db.type/string]
[:person/name :db/valueType :db.type/string]
[:person/name-variants :db/cardinality :db.cardinality/many]
[:person/citizenship :db/cardinality :db.cardinality/many]
[:person/political-party :db/cardinality :db.cardinality/many]
[:person/source-url :db/cardinality :db.cardinality/many]
[:person/topics :db/cardinality :db.cardinality/many]
[:person/datasets :db/cardinality :db.cardinality/many]
[:person/last-seen :db/valueType :db.type/instant]
