{:format :kotoba.cljk-origin/v1
 :renamed-on "generated-worktree-shim"
 :rule "generated: split of the worktree manifest for a subdir root."
 :origins
 {
  "app_kotoba_cloud/account_browser.cljk" ".cljc"
  "app_kotoba_cloud/account_site.cljk" ".cljc"
  "app_kotoba_cloud/admin_browser.cljk" ".cljc"
  "app_kotoba_cloud/admin_site.cljk" ".cljc"
  "app_kotoba_cloud/advisory_panel.cljk" ".cljc"
  "app_kotoba_cloud/attribution.cljk" ".cljc"
  "app_kotoba_cloud/billing.cljk" ".cljc"
  "app_kotoba_cloud/billing_account.cljk" ".cljc"
  "app_kotoba_cloud/billing_browser.cljk" ".cljc"
  "app_kotoba_cloud/billing_gateway.cljk" ".cljc"
  "app_kotoba_cloud/billing_limits.cljk" ".cljc"
  "app_kotoba_cloud/billing_readiness.cljk" ".cljc"
  "app_kotoba_cloud/billing_usage.cljk" ".cljc"
  "app_kotoba_cloud/boot.cljk" ".cljc"
  "app_kotoba_cloud/browser.cljk" ".cljs"
  "app_kotoba_cloud/chain_facts.cljk" ".cljc"
  "app_kotoba_cloud/chat_site.cljk" ".cljc"
  "app_kotoba_cloud/crypto_site.cljk" ".cljc"
  "app_kotoba_cloud/csf2_site.cljk" ".cljc"
  "app_kotoba_cloud/database_gateway.cljk" ".cljc"
  "app_kotoba_cloud/database_session.cljk" ".cljc"
  "app_kotoba_cloud/delegation_root.cljk" ".cljc"
  "app_kotoba_cloud/extended_translations.cljk" ".cljc"
  "app_kotoba_cloud/free_sites.cljk" ".cljc"
  "app_kotoba_cloud/free_sites_claim.cljk" ".cljc"
  "app_kotoba_cloud/free_sites_store.cljk" ".cljc"
  "app_kotoba_cloud/funnel.cljk" ".cljc"
  "app_kotoba_cloud/guardian.cljk" ".cljc"
  "app_kotoba_cloud/icao.cljk" ".cljc"
  "app_kotoba_cloud/identity_browser.cljk" ".cljc"
  "app_kotoba_cloud/identity_gateway.cljk" ".cljc"
  "app_kotoba_cloud/identity_site.cljk" ".cljc"
  "app_kotoba_cloud/knowledge.cljk" ".cljc"
  "app_kotoba_cloud/knowledge_site.cljk" ".cljc"
  "app_kotoba_cloud/kotoba_proof.cljk" ".cljc"
  "app_kotoba_cloud/locale.cljk" ".cljc"
  "app_kotoba_cloud/org_authority.cljk" ".cljc"
  "app_kotoba_cloud/org_gateway.cljk" ".cljc"
  "app_kotoba_cloud/org_registry.cljk" ".cljc"
  "app_kotoba_cloud/pat.cljk" ".cljc"
  "app_kotoba_cloud/pq_key_lifecycle.cljk" ".cljc"
  "app_kotoba_cloud/pq_key_registry.cljk" ".cljs"
  "app_kotoba_cloud/pqc.cljk" ".cljs"
  "app_kotoba_cloud/profile.cljk" ".cljc"
  "app_kotoba_cloud/public_locales.cljk" ".cljc"
  "app_kotoba_cloud/research.cljk" ".cljc"
  "app_kotoba_cloud/research_authority.cljk" ".cljc"
  "app_kotoba_cloud/research_browser.cljk" ".cljc"
  "app_kotoba_cloud/research_gateway.cljk" ".cljc"
  "app_kotoba_cloud/research_providers.cljk" ".cljc"
  "app_kotoba_cloud/research_site.cljk" ".cljc"
  "app_kotoba_cloud/rootkey.cljk" ".cljc"
  "app_kotoba_cloud/security_site.cljk" ".cljc"
  "app_kotoba_cloud/session.cljk" ".cljc"
  "app_kotoba_cloud/site.cljk" ".cljc"
  "app_kotoba_cloud/worker.cljk" ".cljs"
 }}
